#/*
#
#!/.gitignore
#
#!/scripts
#/scripts/vypis_*
#/scripts/*.sh.o*

#!/udapi-python
#/udapi-python/*
#!/udapi-python/udapi
#/udapi-python/udapi/*
#!/udapi-python/udapi/block
#/udapi-python/udapi/block/*
#!/udapi-python/udapi/block/valency

**/.idea
**/__pycache__
