*

!.gitignore

#!/valency
#/valency/*
#!/valency/scripts
!/valency/scripts/**

/valency/scripts/vypis_*
/valency/scripts/*.sh.o*

#!/udapi-python
#/udapi-python/*
#!/udapi-python/udapi
#/udapi-python/udapi/*
#!/udapi-python/udapi/block
#/udapi-python/udapi/block/*
#!/udapi-python/udapi/block/valency
!/udapi-python/udapi/block/valency/**

/udapi-python/udapi/block/valency/__pycache__/**
/udapi-python/udapi/block/valency/__pycache__/**

**/.idea