table, th, td {
    border: 1px solid black;
    table-layout: fixed;
}
.verb_header {
    background-color: #FFFF7F;
    table-layout: fixed;
}
.small_col {
    background-color: #FFFF7F;
    table-layout: fixed;
    width: 30px;
}
.middle_col {
    background-color: #FFFF7F;
    table-layout: fixed;
    width: 60px;
}
.large_col {
    background-color: #FFFF7F;
    table-layout: fixed;
    width: 300px;
}
.examples {
    table-layout: fixed;
    background-color: #FFE4C4;
    width: 300px;
}

.verb {
    color: #3BB9FF;
} 
.arg {
    color: red;
}
